input{
    margin-top : 10px;
    margin-bottom: 10px;
}
form{
    padding : 10px;
}
.aligncontent{
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
    nb-select{
        margin-left : 20px;
        margin-right: 20px;
    }
}
nb-card-header{
    text-align: center;
    font-size: 1.5em;
}