nb-card-header{
    text-align: center;
    font-size: 1.5em;
}
.aligncontent{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    nb-select{
        margin-left : 20px;
        margin-right: 20px;
    }
}

.footer{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    width: 100%;
    margin-left: auto;
    margin-top: 50px;
}

.preview{
    max-width: 80%;
    margin: auto;
    
}
.alignvertical{
    display: flex;
    flex-flow: column;
    max-width: 90%; 
    align-items: center;
    margin: auto;
}
input{
    margin-top : 10px;
    margin-bottom: 10px;
}