<div *ngIf = "categoryId !== null && categoryId !== undefined">
    <div *ngIf="(uploads | async) != null" >
        <nb-reveal-card *ngFor = "let upload of uploads | async">
            <nb-card-front>
                <nb-card status="primary">
                    <nb-card-header>
                        {{upload.context}}
                    </nb-card-header>
                    <nb-card-body class="alignvertical">
                        <img class="preview" [src] = '"data:image/png;base64,"+upload.fileString'/>
                    </nb-card-body>
                </nb-card>
            </nb-card-front>
            <nb-card-back>
                <nb-card status= "primary">
                    <nb-card-header>
                        Submit a vote
                    </nb-card-header>
                    <nb-card-body>
                        <app-vote *ngIf="upload != undefined" [upload]="upload"></app-vote>
                    </nb-card-body>
                </nb-card>
            </nb-card-back>
        </nb-reveal-card>
    </div>
    <div *ngIf = "(uploads | async)?.length === 0 ">
        <p>
            uploads empty
        </p>
    </div>
</div>