<nb-layout>

  <nb-layout-header fixed>
    <app-login class = "right" *ngIf="!(isLogged | async)"></app-login>
    <app-logged-topbar class="right" *ngIf="isLogged | async"></app-logged-topbar>
  <!-- Insert header here -->
  </nb-layout-header>
  <nb-sidebar>
    <app-side-menu>

    </app-side-menu>
  </nb-sidebar>
  <nb-layout-column>
    <app-register *ngIf="!(isLogged | async)"></app-register>
    <router-outlet *ngIf="isLogged | async">
      
    </router-outlet>
  </nb-layout-column>

  <!-- <nb-layout-footer fixed>
  </nb-layout-footer> -->

</nb-layout>
